{# index.twig #}
{% extends 'includes/1_core/layout.twig' %}

{% block page %}

  <section class="wrapper" data-module="populateDeck">

    <div class="cardwrapper">

      <div class="cardcontainer">
        <div class="row">
          <div class="playerTwo hand card"></div>
          <div class="playerTwo stash card"></div>
        </div>

        <div class="row">
          <div class="playerTwo battlefield">
            <div class="playerTwo live card hidden">
              <div class="content">
                &nbsp;
              </div>
            </div>
            <div class="playerTwo card stack hidden"></div>
          </div>

          <div class="playerOne battlefield">
            <div class="playerOne live card hidden">
              <div class="content">
                &nbsp;
              </div>
            </div>
            <div class="playerOne card stack hidden"></div>
          </div>

          <div class="winAlert hidden"><span></span></div>
        </div>

        <div class="row">
          <div class="playerOne stash card"></div>
          <div class="playerOne hand card"></div>
        </div>

      </div>

      <a href="#" class="button draw"><span>contest</span></a>
      <span class="directions">[or press any key to contest]</span>
    </div>

    <div class="shuffled-deck"></div>

  </section>
{% endblock %}
