///*------------------------------------*\
//    #CORE/HELPERS - HIDDEN
//\*------------------------------------*/
/* Note: Add the .hidden class to GNorm, this class is intended to be used on links
 * that should not display their text, ex. a icon button.
 */

.hidden{
  // height: 1px !important;
  left: -10000px !important;
  overflow: hidden !important;
  // position: absolute !important;
  top: auto !important;
  // width: 1px !important;
}
